
             .baner {
          background-color: orangered;      
              
          text-align: center;
          font-family: 'Chela One', cursive;
          color: yellow;
          width: 100%;
        }
        .dog {
          font-size: 35px;  
        }
        .lanch {
          font-size: 28px;
        }